---
BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11

ColumnLimit: 135

IndentWidth: 4
UseTab: Never

AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Empty
IndentPPDirectives: None
PointerAlignment: Left
